{% extends 'main/base.html' %}
{% block page_title %} Profile {% endblock %}

{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top blurr ">
    <div class="container">
        <a class="navbar-brand text-warning font-weight-bolder" href="#">
            BLOGG.LY
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Saved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item d-none ml-lg-auto d-none d-md-inline-block mr-4">
                    <p class="text-dark h-100 d-flex align-items-center">Hello,&nbsp;
                        <span class="font-weight-bold">
                            <u><a class="text-dark" href="#">{{user.username}}</a>!</u>
                        </span>
                    </p>
                </li>
                {% endif %}
                <li class="nav-item active d-inline-block d-md-none">
                    <a class="nav-link"
                        href="#">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bg-warning px-3 rounded text-dark bordered shadow-sm font-weight-bold"
                        href="/logout/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- MODAL -->
{% load crispy_forms_tags %}
<div class="modal fade" id="update_profile_modal" tabindex="1" role="dialog" aria-labelledby="createAPost"
    aria-hidden="true">
    <div class="modal-dialog" role="modal">
        <div class="modal-content">
            <div class="modal-header" 
            <h5 class="modal-title w-100 font-weight-bold">Edit Profile.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-backdrop="false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- FORM -->
                <form action="/profile/update/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{forms.user_update_form.username |as_crispy_field}}
                    {{forms.profile_update_form.avatar |as_crispy_field}}
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning btn-block font-weight-bold">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
{% load crispy_forms_tags %}
<div class="modal fade" id="create_post_modal" tabindex="-1" role="dialog" aria-labelledby="createAPost"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" <h5 class="modal-title w-100 font-weight-bold">Share something.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- FORM -->
                <form action="/create_post/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{forms.blog_post_form.title | as_crispy_field}}
                    {{forms.blog_post_form.description | as_crispy_field}}
                    {{forms.blog_post_form.img_path | as_crispy_field}}
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning btn-block font-weight-bold">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container vh-100 p-3" style="margin-top:60px;">
    <div class="container blurr rounded">
        <div class="container d-flex flex-column align-items-center py-3 px-5">
            <div class="container d-flex flex-column py-3 px-5 bg-light mb-1 rounded">
                <div class="row d-flex flex-row align-items-center justify-content-between py-2 mb-1">
                    <h3>Profile</h3>
                    <button type="button" class="btn btn-warning border-0 text-dark shadow-lg font-weight-bold"
                        data-toggle="modal" data-target="#update_profile_modal">Edit Profile</button>
                </div>
                <div class="row mb-3 p-1 p-lg-4 rounded">
                    {% if profile.avatar != ''%}
                    <div class="col-12 col-lg-3 d-flex flex-column align-items-center justify-content-center">
                        <img src="{{profile.avatar.url}}" alt="profile_image"
                            class="img-fluid rounded-circle" style="width: 164px; height:164px">
                    </div>
                    {% endif %}
                    <div class="col-12 col-lg-9 mt-3 mt-lg-0 d-flex flex-column">
                        <h2>{{user.username}}</h2>
                        <small>{{user.email}}</small>
                        <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe amet exercitationem repudiandae earum ratione. Illum consequatur fuga perspiciatis aliquid recusandae, repudiandae est quos assumenda at</p>
                    </div>
                </div>
            </div>

            <!-- nav tabs -->
            <div class="container mb-3 bg-light rounded px-3">
                <div class="col-12 d-flex flex-column">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active py-3 px-4" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">Posts</a>
                            <a class="nav-item nav-link py-3 px-4" id="nav-liked-tab" data-toggle="tab" href="#nav-liked"
                                role="tab" aria-controls="nav-liked" aria-selected="true">Liked</a>
                            <a class="nav-item nav-link py-3 px-4" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Followers({{followers.count}})</a>
                            <a class="nav-item nav-link py-3 px-4" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Folowing({{following.count}})</a>
                        </div>
                    </nav>
                    <div class="tab-content px-3 border" id="nav-tabContent">
                        <div class="tab-pane fade show active py-2" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            {% if posts.count > 1%}
                                <div class="d-flex flex-row justify-content-end align-items-center p-1 mt-2" >
                                    <button type="button" class="btn btn-warning border-0 text-dark shadow-lg font-weight-bold"  data-toggle="modal" data-target="#create_post_modal">Create Post</button>
                                </div>
                            {% endif %}
                            {% if posts.count > 1%}
                            {% for post in posts %}
                            <div class="row p-2 p-lg-4">
                                <div class="px-1 px-lg-3 w-100 m-auto">
                                    <div class="card py-2">
                                        {% if post.img_path %}
                                            <div class="container">
                                            <img class="card-img-top" src="{{post.img_path.url}}" alt="post_attached-image">
                                            </div>
                                            <hr class="mb-0 pb-0">
                                        {% endif %}
                                        <div class="card-body">
                                            <div class="d-flex flex-lg-row justify-content-between">
                                                <!-- icon and deets -->
                                                <div class="d-flex flex-row">
                                                    {% if profile.avatar != ''%}
                                                    <img src="{{profile.avatar.url}}" alt="profile_image"
                                                            class="img-fluid rounded-circle" width="45" height="45">
                                                    {% endif %}
                                                    <div class="d-flex flex-column text-dark px-2">
                                                        <span class="d-inline-block tool-tip" data-toggle="tooltip"
                                                            data-placement="top" title="Sample title">
                                                            <p class="m-0 p-0 font-weight-bold user_hover"
                                                                data-user_id="{{post.author.id}}">
                                                                {{post.author.username}}</p>
                                                        </span>
                                                        <small class="m-0 p-0">{{post.posted_on}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <h5>{{post.title}}</h5>
                                                <p class="mt-1">{{post.description}}</p>
                                            </div>
                                        </div>
                                        <div class="card-footer mt-0">
                                            <p class="d-flex justify-content-end">
                                                <a data-toggle="collapse" href="#toggle{{post.id}}" role="button"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    Comments in this post
                                                </a>
                                            </p>
                                            <div class="collapse mb-3" id="toggle{{post.id}}">
                                                <div class="card card-body bg-light">
                                                    <ul class="list-unstyled">
                                                        <!-- COMMENTS -->
                                                        {% for comment in comments %}
                                                        {% if post.id == comment.post.id %}
                                                        <li class="media border-bottom mb-2">
                                                            <img class="align-self-start mr-3"
                                                                src="{% static 'images/pexels-rasik-1416900.jpg' %}"
                                                                alt="Generic placeholder image" width="45" height="45">
                                                            <div class="media-body">
                                                                <div class=" mb-4">
                                                                    <div class="d-flex flex-column text-dark">
                                                                        <p class="m-0 p-0 font-weight-bold">
                                                                            {{comment.user.username}}</p>
                                                                        <small>{{comment.commented_on}}</small>
                                                                    </div>
                                                                </div>
                                                                <p>{{comment.comment}}</p>
                                                            </div>
                                                        </li>
                                                        {%endif%}
                                                        {% endfor %}
                                                        <!-- comments -->
                                                    </ul>
                                                    <small class="text-center">-- End --</small>
                                                </div>
                                            </div>
                                            <form action="/add_comment/{{post.id}}/" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{forms.post_comment_form.comment|as_crispy_field}}
                                                    <div class="d-flex justify-content-end m-0">
                                                        <button type="submit"
                                                            class="btn btn-warning py-1 px-2">Comment</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <div class="containter p-5 text-center">
                                    <p class="lead">No posts yet</p>
                                    <div class="d-flex flex-row justify-content-center align-items-center p-1 mb-1" >
                                        <button type="button" class="btn btn-warning border-0 text-dark shadow-lg font-weight-bold"  data-toggle="modal" data-target="#create_post_modal">Create Post</button>
                                    </div>
                                </div.>
                            {% endif %}
                            <!-- posts -->
                        </div>
                        <div class="tab-pane fade" id="nav-liked" role="tabpanel" aria-labelledby="nav-liked-tab">...
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            ...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            ...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#create_post_modal").appendTo("body");
    })
</script>
{% endblock %}