{% extends 'accounts/base.html' %}
{% block page_title %} Bloggy.ly Login {% endblock %} <!-- page title -->

<!-- content -->
{% block content %}
<section class="vh-100" style="background: rgb(170,170,170);
background: linear-gradient(135deg, rgba(170,170,170,1) -50%, rgba(13,50,77,1) 5%, rgba(127,90,131,1) 95%);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 bg-red">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body py-5">
                    <div class="text-center mb-4 px-5">
                        <h4 class="my-2 text-center font-weight-bold" style="color:#FF8A00;">Blogg.ly</h4>
                    </div>
                    <form class="px-2 px-xl-5 py-2" method="POST"> <!-- submit to same url - POST -->
                        <p>Sign into your account.</p>
                        {% csrf_token %}
                        {% if messages %}
                            {% for msg in messages%}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <small><strong>ERROR: {{msg}}</strong></small>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group mt-2">
                            <small class="text-info d-none" id="input_helper">Username</small>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group mt-2">
                            <small class="text-info d-none" id="input_helper">Password</small>
                            <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password" required>
                        </div>
                        <div>
                            <p class="text-right"><a href="#">Forgot password?</a></p>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-block account_cta text-light py-2" id="login_btn" style="background: rgb(170,170,170); background: linear-gradient(135deg, rgba(170,170,170,1) -50%, rgba(13,50,77,1) 5%, rgba(127,90,131,1) 95%);">LOGIN</button>
                        </div>
                        <div class="">
                            <p>Don't have an account? <span><a href="/register/">Register</a></span></p>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}