{% extends 'accounts/base.html' %} 
{% block page_title %}Register to Bloggy{% endblock %} <!-- page title -->

<!-- content -->
{% block content %}
<section class="vh-100" style="background: rgb(170,170,170);
background: linear-gradient(135deg, rgba(170,170,170,1) -50%, rgba(13,50,77,1) 5%, rgba(127,90,131,1) 95%);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 bg-red">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body py-5">
                        <div class="text-center mb-4 px-5">
                            <h4 class="my-2 text-center font-weight-bold" style="color:#FF8A00;">Blogg.ly</h4>
                        </div>
                
                        <form class="px-2 px-xl-5 py-2" method="POST"> <!-- submit to same url - POST -->
                        <p>Create a new Blogg.ly Account.</p>
                            {% csrf_token %}
                            {% if messages %}
                                {% for msg in messages%}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <small><strong>{{msg}}</strong></small>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %} 
                            {%else %}
                            {% endif %}
                
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Enter fist name</small>
                                <input class="form-control" type="text" name="first_name" id="first_name" placeholder="Enter your first name" required>
                            </div>
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Enter last name</small>
                                <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Enter your last name" required>
                            </div>
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Enter username</small>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" required>
                            </div>
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Enter email</small>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Enter password</small>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password" required>
                            </div>
                            <div class="form-group mt-2">
                                <small class="text-info d-none" id="input_helper">Re-enter password</small>
                                <input class="form-control" type="password" name="password_conf" id="password_conf" placeholder="Confirm your password" required>
                            </div>
                            <div>
                                <p>Already have an account? <span><a href="/login/">Sign in</a></span></p>
                            </div>
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-block text-light py-2 account_cta" id="register_btn" style="background: rgb(170,170,170);
                                background: linear-gradient(135deg, rgba(170,170,170,1) -50%, rgba(13,50,77,1) 5%, rgba(127,90,131,1) 95%);">REGISTER</button>
                            </div>
                            <div>
                                <small>By clicking <strong><em>Register</em></strong>, you agree to our <span><a href="">Terms and Conditions</a> and <a href="">Privacy Statement</a></span></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}