{% extends 'main/base.html' %}
{% block page_title %} Dashboard {% endblock %}

{% load static %}
{% block content %} 
<nav class="navbar navbar-expand-lg navbar-light fixed-top blurr">
  <div class="container">
    <a class="navbar-brand text-warning font-weight-bold" href="#">
      BLOGG.LY
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Saved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorites</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item d-none ml-lg-auto d-none d-lg-inline-block mr-4">
            <p class="text-dark h-100 d-flex align-items-center">Hello,&nbsp;
                <span class="font-weight-bold">
                    <u><a class="text-dark" href="/profile/user/">{{user.username}}</a>!</u>
                </span>
            </p>
        </li>
        {% endif %}
        <li class="nav-item active d-inline-block d-lg-none">
          <a class="nav-link"
              href="/profile/user/">Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link bg-warning px-3 rounded text-dark bordered shadow-sm font-weight-bold" href="/logout/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% load crispy_forms_tags %}
<div class="modal fade" id="create_post_modal" tabindex="-1" role="dialog" aria-labelledby="createAPost"
  aria-hidden="true">
  <div class="modal-dialog" role="modal">
    <div class="modal-content">
      <div class="modal-header"
        <h5 class="modal-title w-100 font-weight-bold">Share something.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <!-- FORM -->
        <form action="/create_post/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{forms.blogpost_form.title | as_crispy_field}}
          {{forms.blogpost_form.description | as_crispy_field}}
          {{forms.blogpost_form.img_path | as_crispy_field}}
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-warning btn-block font-weight-bold">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container vh-100 p-1 p-lg-3" style="margin-top:60px;">
  <div class="container h-100"> 
    <div class="row p-2 p-lg-4 d-flex flex-sm-column flex-lg-row justify-content-center blurr h-100">
      <div class="col-12 col-lg-7 border-dark shadow-lg mr-lg-2 p-4 blurr order-2 order-lg-1 mt-2 mt-lg-0  overflow-auto mh-100">
        <div class="d-flex flex-row justify-content-between align-items-center p-1 mb-1" >
          <h3 class="text-dark">Recent Posts</h3>
          <button type="button" class="btn btn-warning border-0 text-dark shadow-lg font-weight-bold"  data-toggle="modal" data-target="#create_post_modal">Create Post</button>
        </div>
        <hr class="mt-0" style="color: #939393; background-color: #939393;">
        <!-- FROM DATABASE -->
        {% for post in blog_posts %}
        <div class="row mb-3">
          <div class="px-3 w-100">
            <div class="card p-2 blurr-8">
              {% if post.img_path %}
                <div class="container">
                  <img class="card-img-top" src="{{post.img_path.url}}" alt="post_attached-image">
                </div>
                <hr class="mb-0 pb-0">
              {% endif %}
              <div class="card-body">
                <div class="d-flex flex-lg-row justify-content-between">
                  <!-- icon and deets -->
                  <div class="d-flex flex-row">
                    <img src="{% static 'images/pexels-rasik-1416900.jpg' %}" alt="" class="rounded-circle img-fluid" width="45" height="45">
                    <div class="d-flex flex-column text-dark px-2">
                      <span class="d-inline-block tool-tip" data-toggle="tooltip" data-placement="top" title="Sample title">
                        <p class="m-0 p-0 font-weight-bold user_hover"data-user_id="{{post.author.id}}">{{post.author.username}}</p>
                      </span>
                      <small class="m-0 p-0">{{post.posted_on}}</small>
                    </div>
                  </div>
                  <!-- follow / unfollow button -->
                  {% if post.author.id != request.user.pk%} <!-- kapag owner -->
                      <div class="d-flex justify-content-center align-items-center">
                        <button type="button" id="user-{{post.author.id}}" class="btn btn-follow-button font-weight-bold {% if not post.author in users_following %}follow_btn btn-warning {% else %}unfollow_btn btn-secondary{%endif%}" data-user_id="{{post.author.id}}" data-post_id="{{post.id}}">{% if not post.author in users_following %}Follow {% else %}Unfollow{%endif%}</button>
                      </div>
                  {% endif %}
                  <!-- no button -->
                </div>
                <div class="mt-3">
                  <h5>{{post.title}}</h5>
                  <p class="mt-1">{{post.description}}</p>
                </div>
              </div>
              <div class="card-footer mt-0" >
                <p class="d-flex justify-content-end">
                  <a data-toggle="collapse" href="#toggle{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    See comments
                  </a>
                </p>
                <div class="collapse mb-3" id="toggle{{post.id}}">
                  <div class="card card-body bg-light">
                    <ul class="list-unstyled">
                      <!-- COMMENTS -->
                      {% for comment in comments %}
                        {% if post.id == comment.post.id %}
                          <li class="media border-bottom mb-2">
                            <img class="align-self-start mr-3" src="{% static 'images/pexels-rasik-1416900.jpg' %}" alt="Generic placeholder image" width="45" height="45">
                            <div class="media-body">
                              <div class=" mb-4">
                                <div class="d-flex flex-column text-dark">
                                  <p class="m-0 p-0 font-weight-bold">{{comment.user.username}}</p>
                                  <small>{{comment.commented_on}}</small>
                                </div>
                              </div>
                              <p>{{comment.comment}}</p>
                            </div>
                          </li>
                        {%endif%}
                      {% endfor %} <!-- comments -->
                    </ul>
                    <small class="text-center">-- End --</small>
                  </div>
                </div>
                <form action="/add_comment/{{post.id}}/" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {{forms.postcomment_form.comment|as_crispy_field}}
                    <div class="d-flex justify-content-end m-0">
                      <button type="submit" class="btn btn-warning py-1 px-2">Comment</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} <!-- posts -->
    
        <!-- another post -->
      </div>
      <!-- PEOPLE AND TAGS -->
      <div class="col-12 col-lg-4 shadow border-dark ml-lg-2 mt-5 mt-lg-0 h-100 blurr order-lg-2">
          <div class="container py-5 d-flex flex-column align-items-center">
            <!-- people -->
            <div class="row w-100 mw-100 blurr-8 border-dark mh-100 overflow-auto rounded py-3" >
              <div class="container">
                <h5>People</h5>
              </div>
              <div class="container mt-3 d-flex flex-column">
                <!-- icon and deets -->
              {% for user in users %}
                {% if user.id is not request.user.id%}
                <div class="container d-flex flex-lg-row justify-content-between align-items-center mb-2 py-2">
                  <div class="d-flex flex-row">
                    <img src="{% static 'images/pexels-rasik-1416900.jpg' %}" alt="" class="rounded-circle mr-2" width="45" height="45">
                    <div class="d-flex flex-column text-dark">
                      <p class="m-0 p-0 font-weight-bold text-dark">{{user.username}}</p>
                      <small>25 Followers</small>
                    </div>
                  </div>
                  <!-- follow / unfollow button -->
                  {% if user.id != request.user.pk%} <!-- kapag owner -->
                    <button type="button" class="btn btn-follow-button font-weight-bold {% if not user in users_following %}follow_btn btn-warning {% else %}unfollow_btn btn-secondary{%endif%}" data-user_id="{{user.id}}">{% if not user in users_following %}Follow {% else %}Unfollow{%endif%}</button>
                  {% endif %}
                </div>
                {% endif%}
              {% endfor %}
            </div>
          </div>
            <!-- tags -->
          <hr style="width: 80%;color: #939393; background-color: #939393;">
          <div class="container mw-100 blurr-8 border-dark p-3 overflow-auto mh-100 hide-scroll rounded" >
            <h5>Tags</h5>
            <div class="container mt-3">
              <span class="badge badge-secondary">Food</span>
              <span class="badge badge-secondary">Travel</span>
              <span class="badge badge-secondary">Adventure</span>
              <span class="badge badge-secondary">Education</span>
              <span class="badge badge-secondary">Sciences</span>
              <span class="badge badge-secondary">Places</span>
              <span class="badge badge-secondary">TV/Movies</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}
<script>
  $(document).ready(function() {
  // disable login and register buttons on click
  $('.account_cta').on('click', function() {
      setTimeout(function(){
          $(this).prop('disabled', true)
      }, 50);
      
      setTimeout(function(){
          $(this).prop('disabled', false)
      }, 15000);
      // $(this).prop('disabled', true)
      // $(this).prop('value', "WAIT...")
  })

  // transparent placeholder on focus
  $('input').focusin(function() {
      $(this).addClass('input-transparent')
      $(this).parent().find('#input_helper').removeClass('d-none')
  })
  // return to prev state
  $('input').focusout(function() {
      $(this).removeClass('input-transparent')
      $(this).parent().find('#input_helper').addClass('d-none')
  })

  $('.btn-follow-button').on('click', function(){
      var user_id = $(this).data().user_id
      var post_id = $(this).data().post_id
      var dom = $(this)
      var user = $(`#user-${user_id}`)
      console.log(user)
      var status = $(this).hasClass('follow_btn')
      console.log(`has follow class ${status}`)
     if(status){
      $.ajax({
          url: `{% url "follow_user" %}`,
          type: 'POST',
          data: {user_id : user_id}, 
          success: function(response) {
              console.log('DATA', response)
              dom.removeClass('follow_btn')
              dom.removeClass('btn-warning')
              user.removeClass('follow_btn')
              user.removeClass('btn-warning')

              dom.addClass('btn-secondary')
              user.addClass('btn-secondary')
              
              dom.text('Unfollow')
              user.text('Unfollow')
              // $(`#following_btn-${post_id}`).attr('id', ``)
          }
      })
     }
     else{
      $.ajax({
          url: `/unfollow_user/${user_id}/`,
          type: 'POST',
          success: function(response) {
              console.log('DATA DELETED: ', response)
              dom.removeClass('btn-secondary')
              user.removeClass('btn-secondary')
              
              dom.addClass('follow_btn')
              user.addClass('follow_btn')
              dom.addClass('btn-warning')
              user.addClass('btn-warning')
              
              dom.text('Follow')
              user.text('Follow')
              console.log('sa')
              // $(`#unfollowing_btn-${post_id}`).attr('id', 'following_btn')
          }
      })
     }
  })

  $('.user_hover').hover(function() {
    user_id = $(this).data().user_id;
    tooltip = $('.tool-tip');

    $.ajax({
          url: `{% url "user_follower_count"%}`,
          type: 'GET',
          data: {'id' : user_id},
          success: function(response) {
              console.log(`User #${user_id} followers`, response)
              tooltip.attr('title', response.follower_count + ' followers')
          }
    })
  })


})
</script>
{% endblock %}

