body {
    font-family: 'Roboto', 'sans-serif' !important;
    /* background: rgb(28,103,134);
    background: linear-gradient(90deg, rgba(28,103,134,1) 0%, rgba(109,190,190,1) 100%); */
    /* background: rgb(28,103,134);
    background: radial-gradient(circle, rgba(28,103,134,1) 0%, rgba(109,190,190,1) 100%); */
    min-height: 100vh !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}

 /* hide scrollbar but allow scrolling */
.hide-scroll {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.hide-scroll::-webkit-scrollbar {
     /* for Chrome, Safari, and Opera */
     scrollbar-width: none;
}

.blurr {
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.3);
}

.blurr-8 {
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.6);
}

.gradient-bg {
background: rgb(170,170,170);
background: linear-gradient(135deg, rgba(170,170,170,1) -50%, rgba(13,50,77,1) 5%, rgba(127,90,131,1) 95%);
}

.input-transparent::placeholder {
    color: transparent !important;
}

/* hide input placeholders when on focused */
input:focus::-webkit-placeholder {
    opacity: 0 !important;
}

input:focus::-moz-placeholder {
   opacity: 0 !important;
}
 
input:focus:-ms-input-placeholder {
    opacity: 0 !important;
}
 
input:focus:-moz-placeholder {
   opacity: 0 !important;
}